In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
dfCNA_ori = pd.read_csv('LIHC__genome_wide_snp_6__GeneLevelCNA.txt', sep='\t', header=0)
dfDNAmeth_ori = pd.read_csv('LIHC_Methylation450__SingleValue__TSS1500__Both.txt', sep='\t', header=0)
dfRNASeq_ori = pd.read_csv('LIHC_RNASeq__illuminahiseq_rnaseqv2__GeneExp.txt', sep='\t', header=0)

In [3]:
print('Original shape of \n\tRNASeq data =', dfRNASeq_ori.shape, '\n\tMethylation data =', dfDNAmeth_ori.shape, ' and\n\tCNA data =', dfCNA_ori.shape)

Original shape of
	RNASeq data = (20530, 426)
	Methylation data = (20421, 431)  and
	CNA data = (24924, 764)

#### Get rid of the non-sample columns (e.g. GeneSymbol, strand, SingleValueType etc)

In [4]:
dfRNASeq = dfRNASeq_ori.drop(dfRNASeq_ori.columns[[0,1]], axis=1)    # remove 'GeneSymbol', 'EntrezID'
dfDNAmeth = dfDNAmeth_ori.drop(dfDNAmeth_ori.columns[[0,1]], axis=1) # remove 'GeneSymbol', 'SingleValueType'
dfCNA = dfCNA_ori.drop(dfCNA_ori.columns[[0, 1, 2]], axis=1)       # remove 'GeneSymbol', 'Chromosome', 'Strand'
print('New shape of \n\tRNASeq data =', dfRNASeq.shape, '\n\tMethylation data =', dfDNAmeth.shape, ' and\n\tCNA data =', dfCNA.shape)

New shape of
	RNASeq data = (20530, 424)
	Methylation data = (20421, 429)  and
	CNA data = (24924, 761)

In [5]:
#dfRNASeq_ori.columns[[0,1,2]]

In [6]:
#dfDNAmeth_ori.columns[[0, 1,2]]

In [7]:
#dfCNA_ori.columns[[0, 1,2,3]]

#### Remove rows containing >=20% values as NA

In [8]:
def removeRows(df):
    threshold = int(0.8*df.shape[1])
    dfNonNA = df.dropna(axis=0, thresh=threshold)
    return dfNonNA

In [9]:
dfRNASeq = removeRows(dfRNASeq)
dfDNAmeth = removeRows(dfDNAmeth)
dfCNA = removeRows(dfCNA)
print('New shape of \n\tRNASeq data =', dfRNASeq.shape, '\n\tMethylation data =', dfDNAmeth.shape, ' and\n\tCNA data =', dfCNA.shape)

New shape of
	RNASeq data = (20530, 424)
	Methylation data = (18996, 429)  and
	CNA data = (23604, 761)

#### Remove cols containing >=20% values as NA

In [10]:
def removeCols(df):
    threshold = int(0.8*df.shape[0])
    dfNonNA = df.dropna(axis=1, thresh=threshold)
    return dfNonNA

In [11]:
dfRNASeq = removeCols(dfRNASeq)
dfDNAmeth = removeCols(dfDNAmeth)
dfCNA = removeCols(dfCNA)
print('New shape of \n\tRNASeq data =', dfRNASeq.shape, '\n\tMethylation data =', dfDNAmeth.shape, ' and\n\tCNA data =', dfCNA.shape)

New shape of
	RNASeq data = (20530, 424)
	Methylation data = (18996, 429)  and
	CNA data = (23604, 761)

In [12]:
#print(dfDNAmeth.iloc[:,0])

#### Fetch column names from the matrix

In [13]:
rnaSeqSamples = list(dfRNASeq)
dnaMethSamples = list(dfDNAmeth)
cnaSamples = list(dfCNA)
#print(rnaSeqSamples)

#### Fetch participant, sample and tumor type information from TCGA bar-code<br>(https://docs.gdc.cancer.gov/Encyclopedia/pages/TCGA_Barcode/)

In [14]:
rnaSeqID = [x[8:16] for x in rnaSeqSamples]
methID = [x[8:16] for x in dnaMethSamples]
cnaID = [x[8:16] for x in cnaSamples]
print('#RNASeq Samples =', len(rnaSeqID), ', #DNAMeth Samples =', len(methID), ', #CNA Samples =', len(cnaID))

#RNASeq Samples = 424 , #DNAMeth Samples = 429 , #CNA Samples = 761

In [15]:
#methID

#### Remove duplicate samples-vial combinations (henceforth referred to as samples)

In [16]:
rnaSeqID = list(set(rnaSeqID))
methID = list(set(methID))
cnaID = list(set(cnaID))
print('After removing duplicate samples\n#RNASeq Samples =', len(rnaSeqID), ', #DNAMeth Samples =', len(methID), ', #CNA Samples =', len(cnaID))

After removing duplicate samples
#RNASeq Samples = 424 , #DNAMeth Samples = 429 , #CNA Samples = 760

#### Identify common samples

In [17]:
def compareLists(bigList, smallList):
    commonList = []
    for i in smallList:
        for j in bigList:
            if i == j:
                commonList.append(bigList.index(j))
                break
    return commonList

In [18]:
commonSamples = list(set(rnaSeqID) & set(methID) & set(cnaID))
print('#commonSamples', len(commonSamples), '\ncommonSamples =', commonSamples)

#commonSamples 404
commonSamples = ['A4NR-01A', 'A75G-01A', 'A116-01A', 'AAE7-01A', 'A82E-01A', 'AAW0-01A', 'A9FW-01A', 'A7SB-01A', 'A10X-11A', 'A5MZ-01A', 'A9H9-01A', 'A4NK-01A', '5264-01A', 'A3KG-01A', 'AAVV-01A', 'A1EC-11A', 'AACV-01A', 'A10U-01A', 'AAD2-01A', 'A7IL-01A', 'A3R2-01A', 'A26S-11A', 'AAPD-01A', 'A11C-11A', 'A4NN-01A', 'A3MA-01A', 'A9H6-01A', 'AAVU-01A', 'A4NV-01A', 'A9H3-01A', 'A2L6-11A', 'A4NJ-01A', '5258-01A', 'AAW3-01A', 'AA46-01A', 'AACX-01A', 'A8YO-01A', 'A119-01A', 'A5NQ-01A', 'A113-11A', 'A1EG-11A', 'A5KG-01A', 'A5SL-01A', 'A23B-01A', 'A1EH-01A', 'A7IE-01A', 'AACS-01A', 'A3A3-11A', 'AADN-01A', 'A9H7-01A', 'A3A2-01A', 'AAV5-01A', 'A1EA-01A', 'A3A6-01A', 'A3A1-01A', 'A8JO-01A', 'A217-01A', 'A1HT-01A', 'A5N0-01A', 'AAV0-01A', 'A75H-01A', 'A118-01A', 'A39X-01A', 'A3JL-01A', 'A9D0-01A', 'A7IK-01A', 'A3OU-01A', 'A10Z-01A', 'AADW-01A', 'A4U2-01A', 'AA44-01A', 'A7XP-01A', 'AACL-01A', 'AAV1-01A', 'A39W-11A', 'AACB-01A', 'A8LF-01A', 'A216-01A', 'A9CY-01A', 'A9D4-01A', 'A9CV-01A', '5262-01A', 'A7SF-01A', 'A9QC-01A', 'AAED-01A', 'A496-01A', 'A1EI-01A', 'A4NS-01A', 'AADM-01A', 'A3R3-01A', 'A3CG-01A', 'AA1D-01A', 'A9GX-01A', 'AA47-01A', 'AAD5-01A', 'A3CJ-01A', 'A97K-01A', 'AAEH-01A', 'AADF-01A', 'A9H2-01A', 'A6C0-01A', 'AAVQ-01A', 'AAAM-01A', 'A95S-01A', 'A10U-11A', 'AAE9-01A', 'A8TE-01A', 'A4NL-01A', 'A6M4-01A', 'AAE0-01A', 'A4NB-01A', 'A39Z-11A', 'A119-11A', '4072-01B', 'A7PY-01A', 'A115-01A', 'AACA-02A', 'A25X-01A', 'A7II-01A', 'A5NO-01A', 'A5DF-01A', 'A9D2-01A', 'AACY-01A', 'A8O5-01A', 'A73B-01A', 'AA1C-01A', 'A75V-01A', 'A7SK-01A', 'A10R-11A', 'AACP-01A', 'A3I0-01A', 'A4NI-01A', 'A9HB-01A', 'A4NH-01A', 'A2QQ-01A', 'A1EK-01A', 'A66X-01A', 'AADL-01A', 'A7K0-01A', 'A2HT-11A', 'AAD8-01A', 'A7IG-01A', 'A7IJ-01A', 'AADA-01A', 'A75I-01A', 'A9GW-01A', 'A5SM-01A', 'AAVW-01A', 'A9VH-01A', 'A86L-01A', 'A7B7-01A', 'AA0V-01A', 'AAW1-01A', 'A7SH-01A', 'A3A4-01A', 'AAD1-01A', 'A7M8-01A', 'A8TG-01A', 'A1EF-01A', 'A73A-01A', 'A8S7-01A', 'A3RK-01A', 'A11A-01A', 'A7IH-01A', 'A5UC-01A', 'A5SJ-01A', 'AAV7-01A', 'A9GS-01A', 'A520-01A', 'A10R-01A', 'A1EH-11A', 'A3A7-01A', 'A69I-01A', 'A5W4-01A', 'A7D4-01A', 'AACU-01A', 'AAE2-01A', 'AAVY-01A', 'AADK-01A', 'A3A5-01A', 'A4NF-01A', 'AAC8-01A', 'A10W-11A', 'A3CI-01A', 'AADD-01A', 'A9FS-01A', 'AAEB-01A', 'A7M7-01A', 'AAEE-01A', 'A9CE-01A', 'A26S-01A', 'A39V-11A', 'A9CZ-01A', 'AACO-01A', 'A7K8-01A', 'A7K7-01A', 'A9GU-01A', 'AAE1-01A', 'AB4B-01A', 'AAVR-01A', 'A9CF-02A', 'A9GZ-01A', 'A114-11A', 'A3MB-01A', 'A9QD-01A', 'A25U-01A', 'A1EJ-01A', 'AAD3-01A', 'AA0U-01A', 'A8TD-01A', 'AAE3-01A', 'AAD6-01A', 'AA3A-01A', 'AACG-01A', 'A113-01A', 'A3M9-01A', 'A7S9-01A', 'A118-11A', 'A3A9-01A', 'A73D-01A', 'AAUZ-01A', 'AAVX-01A', 'A4NO-01A', 'AACT-01A', 'AAD0-01A', 'A7MD-01A', 'A7MF-01A', 'A6J8-01A', 'A5RF-01A', 'AAU7-01A', 'AADR-01A', 'A9GY-01A', '4073-01B', 'AACZ-01A', 'A11D-01A', 'A10T-11A', 'AAVS-01A', 'A11D-11A', 'A7M9-01A', 'A9VG-01A', '5260-01A', 'A3KF-01A', 'A73F-01A', 'A9CG-01A', 'A25T-01A', 'AAZ8-01A', 'A7K2-01A', 'A9GT-01A', 'A2KC-01A', 'A4NQ-01A', 'AADP-01A', 'AACW-01A', 'A10W-01A', 'AACF-01A', 'A39X-11A', 'A66Y-01A', 'AACJ-01A', 'A10X-01A', 'A1ED-01A', 'A3A1-11A', 'A9CD-01A', 'A11B-01A', 'A9FU-01A', 'A3ER-01A', 'A6M5-01A', 'AAVP-01A', 'A11C-01A', 'AAE4-01A', 'A2HT-01A', 'A9H5-01A', 'A1EE-01A', 'A8HU-01A', 'A112-01A', 'A9H8-01A', 'A7XO-01A', 'A8O6-01A', 'A4NA-01A', 'A8TF-01A', 'A73G-01A', 'A5NP-01A', 'A7M6-01A', 'A39Z-01A', 'A9D1-01A', 'A4XI-01A', 'A9CF-01A', 'A5UE-01A', 'A69H-01A', 'A5SI-01A', 'A9H4-01A', 'A7PZ-01A', 'A10Q-01A', 'A6UC-01A', 'A2L6-01A', 'A1EC-01A', 'A7MC-01A', 'A3A2-11A', 'AADC-01A', 'A7ME-01A', 'A12J-11A', 'A1EL-01A', 'A2QR-01A', 'AACE-01A', 'AACH-01A', 'AADG-01A', 'A3CK-01A', 'AAEA-01A', 'A110-11A', 'A7MB-01A', 'A5UD-01A', 'A12J-01A', 'AACI-01A', 'A10T-01A', 'A1EG-01A', 'A10Q-11A', 'AACK-01A', 'AACC-01A', 'AADU-01A', 'AAEI-01A', 'A39Y-01A', 'A7PX-01A', 'AADY-01A', 'A1EB-01A', 'AAEG-01A', 'AADJ-01A', 'AAVZ-01A', 'A25Y-01A', 'A4ZQ-01A', 'A7MA-01A', 'A6G5-01A', 'A75C-01A', 'A114-01A', 'A3EP-01A', 'A11B-11A', 'AACD-01A', 'A25V-01A', 'AACA-02B', 'A3MC-01A', 'AAE6-01A', 'AAC9-01A', 'AAV2-01A', 'A2KB-01A', 'A1EB-11A', 'A1EI-11A', 'A3I1-01A', 'A9G7-01A', 'AAV4-01A', 'A110-01A', 'AACQ-01A', 'AAEK-01A', 'AADO-01A', 'A7IF-01A', 'A9H0-01A', 'AAW2-01A', 'AADV-01A', 'A2HS-01A', 'A8HV-01A', 'A39W-01A', 'A73E-01A', 'A10Y-01A', 'A627-01A', 'AAV3-01A', 'A6M6-01A', 'AADB-01A', '5261-01A', 'A9FV-01A', 'AACA-01A', 'A39V-01A', 'A116-11A', 'A10S-01A', 'A6M3-01A', 'AAV6-01A', 'A2QR-11A', 'A2KA-01A', 'A25S-01A', 'A1EE-11A', 'A216-11A', 'A4ZP-01A', 'A7M5-01A', 'A495-01A', 'A4NP-01A', 'A9GV-01A', 'A3EP-11A', 'A9HA-01A', 'A3A3-01A', 'A3A8-01A', 'A6GG-01A', 'A4ND-01A', 'AADI-01A', 'A3CH-01A', 'A9DB-01A', 'A459-01A', 'A10Z-11A', '5263-01A', 'AA8I-01A', 'A11A-11A', 'A23B-11A', 'A75E-01A', 'A10Y-11A', 'AADS-01A', 'A9H1-01A', 'A73C-01A', 'AADQ-01A', 'A25Z-01A', 'A5RG-01A']

In [19]:
#type(cnaID)

In [20]:
commonRNASeqSamples = compareLists(rnaSeqID, commonSamples)
commonDNAmethSamples = compareLists(methID, commonSamples)
commonCNASamples = compareLists(cnaID, commonSamples)

In [21]:
print('extracted # samples from:\n\tRNA-seq data =', len(commonRNASeqSamples),'\n\tDNAMeth data =', len(commonDNAmethSamples), '\n\tCNA data =', len(commonCNASamples))

extracted # samples from:
	RNA-seq data = 404
	DNAMeth data = 404
	CNA data = 404

In [22]:
dfRNASeq = dfRNASeq.iloc[:, commonRNASeqSamples]
dfDNAmeth = dfDNAmeth.iloc[:, commonDNAmethSamples]
dfCNA = dfCNA.iloc[:, commonCNASamples]

In [23]:
#print(list(dfDNAmeth))

In [24]:
#dfDNAmeth.iloc[:, 0]#commonDNAmethSamples]

In [25]:
print('New shape of \n\tRNASeq data =', dfRNASeq.shape, '\n\tMethylation data =', dfDNAmeth.shape, ' and\n\tCNA data =', dfCNA.shape)

New shape of
	RNASeq data = (20530, 404)
	Methylation data = (18996, 404)  and
	CNA data = (23604, 404)

#### Remove records from RNA-seq data where combined expression values across all samples are too low.<br>
Hence remove 1st quantile i.e. add all values from a row --> order in ascending order --> remove 1st 25% lowest values

(Quantile: rank the vals in ascending order. Compute the rank at 25% of the total vals in the list. Round it up to the nearest higher integrer. Fetch the value corresp to that rank.)

In [26]:
sum_o_rows = dfRNASeq.sum(axis=1)
#print(type(sum_o_rows))
print(sum_o_rows.quantile(0.25))

4537.887000000001

In [27]:
sum_o_rows = dfRNASeq.sum(axis=1)
dfRNASeq_indices = pd.DataFrame(sum_o_rows > sum_o_rows.quantile(0.25));
dfRNASeq2 = dfRNASeq[dfRNASeq_indices.values]
print('New shape of \n\tRNASeq2 data =', dfRNASeq2.shape, '\n\tMethylation data =', dfDNAmeth.shape, ' and\n\tCNA data =', dfCNA.shape)

New shape of
	RNASeq2 data = (15397, 404)
	Methylation data = (18996, 404)  and
	CNA data = (23604, 404)

In [28]:
print(type(dfRNASeq_indices))

<class 'pandas.core.frame.DataFrame'>

In [29]:
print(type(dfRNASeq_indices.values))

<class 'numpy.ndarray'>

#### Impute missing values w avg of that col => avg of values for all genes in that sample are taken

In [30]:
imputer = SimpleImputer(missing_values = np.nan, strategy="mean")
dfDNAmeth_imputed=imputer.fit_transform(dfDNAmeth)
dfRNASeq2_imputed=imputer.fit_transform(dfRNASeq2)
dfCNA_imputed=imputer.fit_transform(dfCNA)

In [31]:
print('New shape of \n\dfRNASeq2_imputed data =', dfRNASeq2_imputed.shape, '\n\tMethylation data =', dfDNAmeth_imputed.shape, ' and\n\tCNA data =', dfCNA_imputed.shape)

New shape of
\dfRNASeq2_imputed data = (15397, 404)
	Methylation data = (18996, 404)  and
	CNA data = (23604, 404)

#### Transpose the matrix so that samples are aligned against rows --> labeling of samples is possible.<br>Imputing before transpose is very important. If imputing performed after transpose, the missing values for a sample and a gene will be avg of all samples for that gene which is wrong.

In [32]:
dfDNAmeth_transposed = dfDNAmeth_imputed.transpose()
dfRNASeq2_transposed = dfRNASeq2_imputed.transpose()
dfCNA_transposed = dfCNA_imputed.transpose()

In [33]:
print('New shape of \n\dfRNASeq2_transposed data =', dfRNASeq2_transposed.shape, '\n\tMethylation data =', dfDNAmeth_transposed.shape, ' and\n\tCNA data =', dfCNA_transposed.shape)

New shape of
\dfRNASeq2_transposed data = (404, 15397)
	Methylation data = (404, 18996)  and
	CNA data = (404, 23604)

In [34]:
def normalizeVals(df):
    rows,cols = df.shape;print(df.shape)
    mins = np.zeros(shape=cols, dtype=np.float32)
    maxs = np.zeros(shape=cols, dtype=np.float32)
    
    for j in range(cols):
        mins[j] = np.min(df[:, j])
        maxs[j] = np.max(df[:, j])
        
    normalized_df = np.copy(df)
    for i in range(rows):
        for j in range(cols):
            normalized_df[i,j] = (df[i,j] - mins[j]) / (maxs[j] - mins[j])
    return normalized_df

In [35]:
normDNAmeth = normalizeVals(dfDNAmeth_transposed)
normRNASeq = normalizeVals(dfRNASeq2_transposed)
normCNA = normalizeVals(dfCNA_transposed)

(404, 18996)
(404, 15397)
(404, 23604)

#### Export data

In [36]:
df_normDNAmeth = pd.DataFrame(normDNAmeth)
df_normDNAmeth.to_csv('normDNAmeth.csv', index=False)

df_normRNASeq = pd.DataFrame(normRNASeq)
df_normRNASeq.to_csv('normRNASeq.csv', index=False)

df_normCNA = pd.DataFrame(normCNA)
df_normCNA.to_csv('normCNA.csv', index=False)